<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SingInSuite" parallel="classes">
  <listeners>
    <listener class-name="framework.listeners.TestListener"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.SignInTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
